ul#Folders {
	background-color: #222;
	overflow: auto;
	display: block;
	padding: 20px;
	z-index: 1;
}

#MediaContainer {
	margin: 0 -20px 0 0;
	padding: 20px 0 20px 20px;
}

#M3uFolder {
	top: 0;
}

#ContentPage #Menu {
	background: url('/files/menu-background-content.png');
	background-repeat: repeat-x;
	background-position: bottom;
	height: 53px;
	width: 100%;
	z-index: 2;
}

#ContentPage #Menu #HomeButton {
	height: 51px;
}

#ImageContainer {
	position: static;
}

