#ContentPage #Menu {
	background: url('/files/menu-background-content.png');
	background-repeat: repeat-x;
	background-position: bottom;
	height: 95px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

div#FoldersContainer {
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	display: block;
	margin-top: 50px;
	overflow-y: auto;
}

div#FoldersContainer div {
	height: 100%;
	position: relative;
}

.posterContainer {
	margin-right: 50px;
}

#MediaContainer {
	margin-left: 250px;
	margin-top: 50px;
}

.mediaInfo {
	margin: 50px 50px 20px 50px;
}

.videoPage .mediaInfoText {
	width: calc(50% - 50px);
	margin-left: 50px;
	float: left;
}

#VideoContainer {
	width: calc(50% - 25px);
}
