ul#Folders {
	display: block;
	padding: 20px;
	z-index: 1;
}

ul#Media,
#TVSeriesContainer {
	margin: 0 -20px 0 0;
	padding: 20px 0 20px 20px;
}

#ContentPage #Menu {
	background: url('/files/menu-background-content.png');
	background-repeat: repeat-x;
	background-position: bottom;
	height: 53px;
	width: 100%;
	z-index: 2;
}

#ContentPage #Menu #HomeButton {
	height: 51px;
}

#ImageContainer {
	position: static;
}

#navbar {
	background: rgba(28, 28, 28, 0.8);
}

.mediaInfo {
	margin: 0 20px;
}
