/* General */

html {
	height:			100%;
}

body {
	background:		url('/files/background.jpg');
	font-family:		"lucida grande",tahoma,verdana,arial,sans-serif;
	color:			#333;
	max-height: 100%;
}

body#ContentPage {
	background:		url('/files/background-blank.jpg');
}

/* Scaffolding */

#FrontPage #Container {
	width:			700px;
	margin:			0 auto;
	position: relative;
}

#ContentPage #Container {
	position:		relative;
}

#FrontPage #Menu {
	position:		relative;
}

#ContentPage #Menu {
	background:		url('/files/menu-background-content.png');
	background-repeat:	repeat-x;
	height:			95px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#ContentPage #Menu #HomeButton {
	background:		url('/files/menu-left-content.png');
	width:			125px;
	height:			93px;
	display: block;
}

#VideoContainer {
	max-width: 720px;
	margin: 100px auto 0 auto;
}

/* Menu */

#Logo {
	position: absolute;
	left: 243px;
	top: 29px;
	background: url('/files/logo.png') !important;
	width: 217px;
	height: 220px !important;
	display: block;
}

#FrontPage #Menu a h3 {
	margin-top: 240px;
	text-align: center;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	color: #5a5a5a;
	font-size: 22px;
	text-decoration: none;
}

#FrontPage #Menu a {
	text-decoration: none;
}

/* Content */

ul#Folders {
	position: fixed;
	top: 94px;
	left: 0;
	width: 200px;
	background-color: #444;
	overflow-y: auto;
	height: 100%;
	display: block;
	padding: 20px;
}

ul#Media {
	margin: 95px 0 0 240px;
	padding: 20px 0 20px 20px;
}

ul li {
	margin-right: 20px;
}

ul#Folders li {
	text-align: center;
}

ul#Media li {
	text-align: left;
}

ul#Media li {
	float: left;
}

ul#Folders li a img {
	max-width: 64px;
	max-height: 64px;
}

ul#Media li a img {
	max-width: 214px;
	max-height: 180px;
}

ul#Folders li span {
	display: block;
	margin-bottom: 20px;
}

ul#Media li span {
	display: block;
	width: 214px;
	height: 16px;
	margin-bottom: 20px;
	overflow: hidden;
}

ul li a {
	text-decoration: none;
}

ul li a:hover {
	text-decoration: underline;
}

ul#Folders li a {
	color: #ff9600;
}

ul#Media li a {
	font-size: 12px;
	color: #444;
}