# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.java text
*.xml text
*.txt text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jar binary
*.so binary
*.dll binary
*.dylib binary
*.3g2 binary
*.avi binary
*.bmp binary
*.cue binary
*.flac binary
*.flv binary
*.gif binary
*.jpg binary
*.m4v binary
*.mkv binary
*.mp3 binary
*.mp4 binary
*.mov binary
*.oga binary
*.ogg binary
*.png binary
*.ra binary
*.srt binary
*.tiff binary
*.ts binary
*.wav binary
*.webm binary
*.wmv binary

# Unix shell scripts must always end in a linefeed
*.sh eol=lf

