.classpath
contrib/ffmpeg/build
/database
debug.log
.DS_Store
.idea/
libmediainfo.dylib
MediaInfo.dll
MediaInfo64.dll
MediaInfo-License.html
pms.iml
.project
.settings
*.orig
*.sublime-*
Thumbs.db
extras/
target/
/web/
win32/
.vscode/settings.json
/src/main/pascal/ctrlsender/lib/
/src/main/pascal/ctrlsender/backup/
/src/main/pascal/ctrlsender/*.exe
*.eclipse-pmd
/src/main/java/net/pms/Test.java
.recommenders/
.metadata/
docker/renderers
docker/web
docker/ums.jar
docker/logback.headless.xml
docker/linux*
docker/jre*
.yarn-integrity
/nb-*
/nbactions-*

# react web client
/react-client/nbproject/
/react-client/node/
/react-client/node_modules/
/react-client/.pnp.*
/react-client/.yarn/*
!/react-client/.yarn/releases
# this is where the compiled client goes after "yarn build"
/src/main/external-resources/web/react-client
