language: java

addons:
  apt:
    packages:
    - mediainfo 

matrix:
  include:
    - os: linux
      jdk: openjdk7
    - os: linux
      jdk: oraclejdk8
    - os: linux
      jdk: openjdk8
    - os: osx

install: mvn external:install 

script: mvn install -Dmaven.javadoc.skip=true -B -V
