dist: trusty

language: java

cache:
  directories:
  - $HOME/.m2

addons:
  apt:
    packages: mediainfo=18.12

matrix:
  include:
    - os: linux
      jdk: oraclejdk8
    - os: osx
      osx_image: xcode9.3

install: mvn external:install

script: mvn verify -B -V -P testing
