# The strategy with these matrixes are to test both old and new versions of operating systems
# and Java, to ensure we don't break old things and that newer things continue to work

branches:
  only:
    - master

cache:
  directories:
  - $HOME/.m2

jobs:
  fast_finish: true
  include:
    # This tests JDK 1.8.0_112-b16
    - os: osx
      osx_image: xcode9.3
      language: java
      script: mvn verify -P testing-macos
    # This tests JDK 14.0.1
    - os: osx
      osx_image: xcode11.4
      language: java
      script: mvn verify -P testing-macos
  allow_failures:
    - os: linux
      language: java
      dist: trusty
      jdk: oraclejdk8
      before_install:
        - sudo apt-get -y install libmms0
        - wget https://mediaarea.net/download/binary/libzen0/0.4.37/libzen0_0.4.37-1_amd64.xUbuntu_14.04.deb
        - sudo dpkg -i libzen0_0.4.37-1_amd64.xUbuntu_14.04.deb
        - wget https://mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo0_18.12-1_amd64.xUbuntu_14.04.deb
        - sudo dpkg -i libmediainfo0_18.12-1_amd64.xUbuntu_14.04.deb
      script: mvn verify -B -V -P testing
    - os: linux
      language: java
      dist: bionic
      jdk: openjdk14
      before_install:
        - sudo apt-get -y install libmms0
        - wget https://mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.xUbuntu_18.04.deb
        - sudo dpkg -i libzen0v5_0.4.38-1_amd64.xUbuntu_18.04.deb
        - wget https://mediaarea.net/download/binary/libmediainfo0/18.12/libmediainfo0v5_18.12-1_amd64.xUbuntu_18.04.deb
        - sudo dpkg -i libmediainfo0v5_18.12-1_amd64.xUbuntu_18.04.deb
      script: mvn verify -B -V -P testing
    # This section can potentially be enabled when we upgrade MediaInfo to 20.03
    # - os: linux
    #   language: java
    #   dist: bionic
    #   jdk: oraclejdk8
    #   before_install:
    #     - sudo apt-get -y install libmms0
    #     - wget https://mediaarea.net/download/binary/libzen0/0.4.38/libzen0v5_0.4.38-1_amd64.xUbuntu_18.04.deb
    #     - sudo dpkg -i libzen0v5_0.4.38-1_amd64.xUbuntu_18.04.deb
    #     - wget https://mediaarea.net/download/binary/libmediainfo0/20.03/libmediainfo0v5_20.03-1_amd64.xUbuntu_18.04.deb
    #     - sudo dpkg -i libmediainfo0v5_20.03-1_amd64.xUbuntu_18.04.deb
    #   script: mvn verify -B -V -P testing
    - os: windows
      language: shell
      before_install:
        - export JDK="adopt@1.8.0-242"
        - travis_retry git clone --depth 1 https://github.com/DanySK/Gravis-CI.git $HOME/gravis
        - source $HOME/gravis/install-jdk
        - source $HOME/gravis/install-maven
      script: mvn verify -P testing-windows

install: travis_wait mvn external:install
