body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: 1;
  column-gap: 20px;
}

.thumbnail-container {
  text-align: center;
  background-color: #000;
  cursor: pointer;
  max-height: 220px;
  margin-bottom: 20px;
}

.front-page-grid {
  height: 240px;
  overflow-y: hidden;
}

.front-page-grid .thumbnail-container {
  width: 310px;
  display: inline-block;
  margin-right: 20px;
  height: 100%;
}

.thumbnail-container:hover {
  box-shadow: 0 6px 9px rgb(0 0 0 / 53%), 0 6px 9px rgb(0 0 0 / 53%);
  -webkit-transition: box-shadow .18s cubic-bezier(0.4,0,.2,1);
  transition: box-shadow .18s cubic-bezier(0.4,0,.2,1);
  color: #eee;
}

.thumbnail-image {
  object-fit: contain;
  width: 100%;
  height: calc(100% - 46px);
}

.thumbnail-text-wrapper {
  padding: 12px 12px 12px 15px;
}