/***********************************
TV - REMOTE CONTROL
 ***********************************/
.onFocus{
    box-shadow: 0px 0px 10px #aaa;
}
.onFocus.different{
    box-shadow: 0px 0px 20px #337ab7;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
a#HomeButton {
    background: url(/files/menu-left-content.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 67px;
    height: 50px;
    display: block;
}
#settings>.fa{
    font-size: 16px;
}
.box-meta {
    background-color: #111111 !important; /*Android TV NO Official Color*/
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 40px;
    overflow: hidden;
    padding: 12px 12px 12px 15px;
}
.main .page-header {
    margin-top: 0;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #37474f;
    color: #37474f;
}
.page-header .h1, h1 {
    font-size: 36px;
}
/***********************************
REWRITE DEFAULT STYLE
 ***********************************/
body{
    color: #FFFFFF;
}
#toolbar{
    color: #000000;
}
.navbar{
	background: url('/files/menu-background-content.png');
}
#FrontPage #Menu a h3 {
    color: #FFFFFF;
    width: 220px;
    font-size: 18px;
    margin-top: 230px;
}
#ContentPage .fa-cog{
    color: #FFFFFF;
    font-size: 18px;
}
#ContentPage.Doc {
    margin: 70px auto;
}
@media screen and (min-width: 1081px) {
    ul#Folders {
        padding: 15px 0px 0px 0px;
        top: 50px;
        width: 240px
    }
}
@media screen and (max-width: 1080px) {
    ul#Folders {
        padding: 0px;
        margin-top: 50px;
    }
}
#Folders li:first-child span {
    margin: 5px 0 10px;
}
ul#Folders>li>a{
    padding: 0px 15px 0px 15px;
}
/*FIX por culpa del bootstrap*/
#Media.nav>li>a {
    padding: 0px;
}
#DownloadLink {
    margin: 0px;
    background: #000;
    border-color: #fff;
    background-image: none;
    display: inline-block;
    height: auto;
    width: auto;
}

.btn-playbar {
    background: #000;
    border-color: #fff;
    color: #fff;
}
@media screen and (min-width: 1080px) {
    ul#Media {
        padding-top: 70px;
    }
}
ul#Media .caption {
    color: #eeeeee;
    font-weight: 300;
    padding-right: 25px;
    margin-top: -15px;
}
ul#Media .playlist_add{
    color: #eeeeee;
    font-weight: 300;
}
ul#Media li {
    /* Note: these are just defaults that fit well at 1080p. JavaScript math takes over when the page is loaded to fit the resolution */
    height: 100% !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
ul#Media li:hover .caption {
    color: #fff !important;
}
.onFocus a .caption {
    color: #fff !important;
}
ul#Media .onFocus {
    box-shadow: 0px 0px 20px 8px #000;
}
.dropdown-menu .onFocus {
    box-shadow: 0px 0px 20px 8px #000;
}
ul#Media .caption:hover {
    text-decoration: none;
}
