/***********************************
TV - REMOTE CONTROL
 ***********************************/
.onFocus{
	box-shadow: 0px 0px 10px #aaa;
}
.onFocus.different{
	box-shadow: 0px 0px 20px #337ab7;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
a#HomeButton {
	background: url(/files/menu-left-content.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
	width: 67px;
	height: 50px;
	display: block;
}
#settings>.fa{
	font-size: 16px;
}
.box-meta {
	background-color: #111111 !important; /*Android TV NO Official Color*/
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	height: 40px;
	overflow: hidden;
	padding: 12px 12px 12px 15px;
}
.main .page-header {
	margin-top: 0;
}

.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #37474f;
	color: #37474f;
}
.page-header .h1, h1 {
	font-size: 36px;
}
/***********************************
REWRITE DEFAULT STYLE
 ***********************************/
body{
	color: #FFFFFF;
}
#toolbar{
	color: #000000;
}
.navbar{
	background: url('/files/menu-background-content.png');
}
#FrontPage #Menu a h3 {
	color: #FFFFFF;
	width: 100%;
	font-size: 18px;
	margin-top: 230px;
}
#ContentPage .fa-cog{
	color: #FFFFFF;
	font-size: 18px;
}
#ContentPage.Doc {
	margin: 70px auto;
}
@media screen and (min-width: 1081px) {
	ul#Folders {
		padding: 15px 0px 0px 0px;
		top: 50px;
		width: 240px;
		background-color: #212121;
	}
}
@media screen and (max-width: 1080px) {
	ul#Folders {
		padding: 15px 0px 0px 0px;
		margin-top: 50px;
		background-color: #333;
	}
}
/*SCROLLBAR*/
/*************Media(Body)**************/
/* width */
::-webkit-scrollbar {
	width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/*******Folders**************/
ul#Folders::-webkit-scrollbar {
	width: 6px;
}
/* Track */
ul#Folders::-webkit-scrollbar-track {
	display: none;
	background: #f1f1f1;
	border-radius: 10px;
}
ul#Folders::-webkit-scrollbar-track {
	display: none;
	background: #f1f1f1;
	border-radius: 10px;
}
/* Handle */
ul#Folders::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}
/* Handle on hover */
ul#Folders::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/*END SCROLLBAR*/
#Folders li:first-child span {
	margin: 5px 0 5px;
}
#Folders li:first-child>a:hover {
	background: #0091EA;
}
ul#Folders>li>a{
	padding: 2px 15px 2px 15px;
	font-weight: 600;
}
ul#Folders>li>a:hover{
	background: #0091EA;
	color: rgba(255,255,255,.87) !important;
	font-weight: 600;
}
ul#Folders>li.onFocus{
	box-shadow: none;
}
ul#Folders>li.onFocus>a{
	background: #0091EA;
	color: rgba(255,255,255,.87) !important;
	font-weight: 600;
}
ul#Folders li span {
	margin-bottom: 0px;
}
#Media.nav>li>a {/*FIX due to bootstrap*/
	padding: 0px;
}
#DownloadLink {
	margin: 0px;
	background: #000;
	border-color: #fff;
	background-image: none;
	display: inline-block;
	height: auto;
	width: auto;
}

.btn-playbar {
	background: #000;
	border-color: #fff;
	color: #fff;
}
@media screen and (min-width: 1080px) {
	ul#Media {
		padding-top: 70px;
	}
}
ul#Media .caption {
	color: #eeeeee;
	font-weight: 300;
	padding-right: 25px;
	margin-top: -15px;
}
ul#Media .playlist_add{
	color: #eeeeee;
	font-weight: 300;
}
ul#Media li {
	/* Note: these are just defaults that fit well at 1080p. JavaScript math takes over when the page is loaded to fit the resolution */
	height: 100% !important;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
ul#Media li:hover .caption {
	color: #fff !important;
}
.onFocus a .caption {
	color: #fff !important;
}
ul#Media .onFocus {
	box-shadow: 0px 0px 20px 8px #000;
}
.dropdown-menu .onFocus {
	box-shadow: 0px 0px 20px 8px #000;
}
ul#Media .caption:hover {
	text-decoration: none;
}