/* General */

* {
	z-index: 1;
}

html {
	height: 100%;
}

body {
	font-family: "Roboto", "DejaVuSansCondensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #d9d9d9;
	background-color: #212121;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

body#ContentPage.browsePage {
	min-height: 100%;
}

.bodyBackgroundImageScreen {
	height: 100%;
	width: 100%;
	background-color: rgba(33, 33, 33, 1);
	transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-webkit-transition: background-color .5s ease-in-out; 
	-o-transition: background-color .5s ease-in-out; 
}

/* Scaffolding */

#FrontPage #Container {
	width: 700px;
	margin: 0 auto;
	position: relative;
}

#FrontPage #Menu {
	position: relative;
}

#ContentPage.Doc {
	margin: 0 auto;
}

#ContentPage.Doc #Menu {
	position: relative;
}

#ContentPage.Doc #Container {
	margin:2em;
	max-width:40em;
	font-size: 22px;
	text-decoration: none;
}

#ContentPage.Doc ul {
	margin: 0 0 0 1em;
	list-style: disc inside none;
}

#ContentPage #Menu #HomeButton {
	background: url('/files/img/menu-left-content.png');
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: contain;
	width: 125px;
	height: 93px;
	display: block;
}

#ContentPage #Menu #LogButton {
	background: url('/files/img/icon-log2.jpg');
	background-size: 125px 93px;
	width: 125px;
	height: 93px;
	position: absolute;
	left: 130px;
	top: 0;
	background-repeat: no-repeat;
	display: block;
}

/* Menu */

#Logo {
	position: absolute;
	left: 237px;
	top: 29px;
	background: url('/files/img/logo.png') center no-repeat;
	width: 230px;
	height: 220px !important;
	display: block;
}

#FrontPage #Menu a h1 {
	margin-top: 240px;
	text-align: center;
	color: #5a5a5a;
	font-size: 22px;
	text-decoration: none;
}

#FrontPage #Menu a {
	text-decoration: none;
}

/* Content */

ul li {
	text-align: left;
}

ul li a {
	text-decoration: none;
}

#FoldersContainer {
	background: rgba(18, 18, 18, 0.8);
}

#FoldersContainer .category {
	display: block;
	padding: 15px 0 0 15px;
}

#Folders {
	padding: 15px 0 0 0;
}

.is-not-front-page #Folders li:first-child span {
	margin-bottom: 12px;
	margin: 5px 0 6px;
	padding-top: 3px;
	padding-bottom: 1px;
}

@media screen and (max-width: 1080px) {
	#FoldersContainer {
		margin-top: 50px;
		width: 100%;
	}

	.is-front-page {
		padding-top: 15px;
	}

	#FoldersContainer .category {
		display: block;
		padding: 0 0 0 15px;
	}
}

ul#Folders li a {
	color: #d9d9d9;
	font-size: 16px;
}

ul#Folders li span {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 18px;
}

#Folders .folder-thumbnail {
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-size: contain;
	float: left;
}

#Folders a:hover .folder-thumbnail {
	filter: invert(1);
}

#MediaContainer {
	overflow-y: auto;
	padding: 40px 0 20px 40px;
	position: relative;
}

#MediaContainer > h3:nth-child(1) {
	margin-top: 0;
}

#MediaContainer > h3 {
	font-size: 20px;
}

#MediaContainer > h3 > a {
	color: #ccc;
}

#Media {
	overflow-y: hidden;
	padding-right: 20px;
	display: grid;
    justify-content: space-between;
	justify-items: center;
}

body.grid #Media {
	grid-template-columns: repeat(auto-fill, 163px);
}

body.grid-wide #Media {
	grid-template-columns: repeat(auto-fill, 306px);
}

#Media.media-single-row {
	height: 225px;
    display: block;
}

body.grid #Media.media-single-row {
	height: 269px;
    display: block;
	padding-right: 0;
}

#Media.media-single-row > .column {
	margin-right: 20px;
	float: left;
}

#Media:before {
	display: none;
}

ul#Media li {
	margin-bottom: 20px;
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 3px;
}

body.grid ul#Media li {
	width: 139px;
}

body.grid-wide ul#Media li {
	width: 298px;
	height: auto;
}

body.dynamic ul#Media li {
	width: auto;
}

ul#Media .thumb {
	height: 168px;
	width: 298px;
	display: block;
	margin: 0 auto;
	object-fit: contain;
}

body.grid ul#Media .thumb {
	max-height: 214px;
	height: 208px;
	width: 139px;
	object-fit: cover;
}

body.dynamic ul#Media .thumb {
	width: auto;
}

ul#Media .caption {
	display: block;
	max-width: 100%;
	height: 16px;
	overflow: hidden;
	float: left;
	font-size: 12px;
	color: #ddd;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 16px;
}

ul#Media .actions {
	position: absolute;
	top: -32px;
	right: 8px;
	background-color: #111;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 8px;
	opacity: 0.7;
	transition: transform 250ms;
}

ul#Media li:hover .actions,
ul#Media li:focus .actions {
	transform: translateY(100%);
}

ul#Media .actions:hover,
ul#Media .actions:focus {
	opacity: 1;
}

ul#Media li:hover .caption {
	color: #fafafa;
}

ul#Media .caption:hover {
	text-decoration: underline;
}

.PadBlack {
	background-color: rgba(0, 0, 0, 1);
}

.PadGrey {
	background-color: rgba(0, 0, 0, 0.1);
}

.PadNone {
	background-color: transparent;
}

.playlist_add {
	background: url('/files/util/bump/skin/add16.png') no-repeat;
}

.playlist_del {
	background: url('/files/util/bump/skin/remove16.png') no-repeat;
}

.download {
	background: url('/files/img/down16.png') no-repeat;
}

.playlist_add,
.playlist_del,
.bumpIcon,
.download,
#M3uFolder,
#ViewGrid,
#ViewDynamic,
#DocButton {
	opacity: 0.7;
}

.playlist_add:hover,
.playlist_del:hover,
.bumpIcon:hover,
.download:hover,
#M3uFolder:hover,
#ViewGrid:hover,
#ViewDynamic:hover,
#ViewGrid.active,
#ViewDynamic.active,
#DocButton:hover {
	opacity: 1.0;
}

.playlist_add, .playlist_del, .download {
	width: 13px;
	height: 16px;
	display: block;
	float: right;
	margin-right:1px;
}

#M3uFolder {
	background: url('/files/img/folderdown16.png') no-repeat;
	position: absolute;
	width: 16px;
	height: 16px;
	display: block;
	top: 29px;
	right: 32px;
}

#ViewGrid,
#ViewDynamic,
#ViewPadColor {
	width: 29px;
	height: 20px;
}

#ViewGrid {
	background-image: url('/files/img/view-grid.png');
}

#ViewDynamic {
	background-image: url('/files/img/view-dynamic.png');
	margin-left: 5px;
}

#ViewPadColor {
	background-image: url('/files/img/view-padcolor.png');
}

.bumpIcon {
	width: 24px;
	height: 16px;
	display: block;
	float: right;
	clear: left;
	background-image: url('/files/util/bump/skin/bump16.png');
	background-position: 2px;
	background-repeat: no-repeat;
}

.floatRight {
	float: right;
	clear: left;
}

#OptionsMenu {
	float: right;
	margin: 10px 10px 0 0;
	z-index: 2;
}

#OptionsMenu > form,
#OptionsMenu > a {
	float: left;
	display: inline-block;
	vertical-align: text-top;
}

#DocButton {
	background: url('/files/img/settings32.png') no-repeat;
}

#Docs {
	background: url('/files/img/view-info.png') no-repeat;
	width: 20px;
	height: 20px;
}

#Pad {
	background: url('/files/img/pad32.png') no-repeat;
	width: 32px;
	height: 18px;
}

#SettingsMenu {
	display: none;
	z-index: 2;
	background: url('/files/img/menu-background-content.png');
	overflow: visible;
	padding: 7px 0 5px 0;
	border: 1px;
	border-style: solid;
	border-color: #777;
	position: fixed;
	right: 10px;
}

#SettingsMenu li {
	padding: 0 8px;
	display: inline-block;
}

#SettingsMenu li:nth-child(2) span {
	display: inline-block;
}

#SettingsMenu li a {
	float: left;
}

form#SearchForm {
	z-index: 2;
	position: relative;
}

#SearchInput {
	border-radius: 10px;
	padding: 4px 28px 4px 9px;
	border: solid 1px #ccc;
	color: #666;
	width: 160px;
	position: absolute;
	top: 3px;
	right: 10px;
}

#SearchSubmit {
	background: url('/files/img/search32.png') no-repeat;
	position: absolute;
	top: 3px;
	right: 5px;
}

#SearchSubmit, #DocButton {
	cursor: pointer;
	border: none;
	width: 32px;
	height: 32px;
	display: block;
}

#SearchSubmit:hover {
	background-position: 0 -32px;
}

.icondisabled {
	opacity: 0.3;
	cursor: default;
}

.webdisabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.webdisabled:hover {
	text-decoration: none !important;
}

.noScroll {
	overflow: hidden !important;
}

.noHzScroll {
	overflow-x: hidden !important;
}

::cue {
	color: #fff;
	background: transparent;
	text-shadow: black 0 0 0.2em;
	font: 1.2em sans-serif;
}

#notices {
	position: fixed;
	z-index: 2;
	top: 100px;
	right: 12px;
}

.notice {
	display: table;
	width: 300px;
	min-height: 32px;
	margin: 0 0 6px 0;
	padding: 5px;
	background-color: #3E84C1;
	border: 1px;
	border-radius: 3px;
/*	box-shadow: 4px 4px 2px rgba(136,136,136,0.5);*/
}

.notice .msg {
	padding: 0;
	color: #fff;
	font: normal 13px sans-serif;
	font-weight: 500;
	text-decoration: none;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}

.notice .icon {
	display:block;
	width: 42px;
	height: 32px;
	margin: 0;
	top: 5px;
	float: left;
}

.notice .info {
	background: url('/files/img/info32.png') no-repeat;
}

.notice .okay {
	background: url('/files/img/ok32.png') no-repeat;
}

.notice .warn {
	background: url('/files/img/warn32.png') no-repeat;
}

.notice .err {
	background: url('/files/img/err32.png') no-repeat;
}

#ImageContainer {
	position: relative;
}

#Image {
	display: block;
	margin: auto;
}

.imgfit {
	max-width: 100%;
	max-height: 100%;
}

.zoomin:hover {
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.zoomout:hover {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

#ImageToolbar {
	display: block;
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 50%;
	margin: 0;
	left: 45%;
}

.navbar {
	background: rgba(18, 18, 18, 0.8);
}

#navbar > ul > li:hover {
	background-color: #666;
}

.mediaInfo h1 {
	margin-bottom: 30px;
	overflow-wrap: break-word;
}

.mediaInfoText {
	padding: 30px 50px;
	border-radius: 4px;
}

.breadcrumb {
	margin-right: 20px;
}

.mediaInfoText,
.breadcrumb {
	background-color: rgba(0, 0, 0, 0.6);
}

.breadcrumb li a {
	color: rgba(217, 217, 217, 1);
}

.breadcrumb li.active {
	color: rgba(255, 255, 255, 1);
}

.browsePage .mediaInfo {
	display: flex;
}

body.dark .mediaInfoText,
body.dark .breadcrumb {
	background-color: rgba(255, 255, 255, 0.7);
	color: rgba(18, 18, 18, 1);
}

body.dark .breadcrumb li a,
body.dark .breadcrumb>li+li:before {
	color: rgba(40, 40, 40, 1);
}

body.dark .breadcrumb li.active {
	color: rgba(0, 0, 0, 1);
}

body .mediaInfoText .badge {
	margin: 0 5px;
	font-weight: 400;
	background-color: rgba(51, 51, 51, 1);
}

body .mediaInfoText a {
	color: rgba(217, 217, 217, 1);
}

body .mediaInfoText a:hover {
	color: rgba(255, 255, 255, 1);
}

.videoPage .posterContainer,
.backgroundPreloadContainer {
	display: none;
}

#imdbLink {
	margin-left: 20px;
	color: #e0ac00;
}
