<!DOCTYPE html>
<html>
	<head>
		<!-- New webUI -->
		<script src="/jquery.min.js"></script>
		<script src="/util/bootstrap.min.js"></script>
		<script src="/util/html5.js"></script>
		<link rel="stylesheet" href="/util/bootstrap.min.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/reset.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/web.css" type="text/css" media="screen">
		<link rel="stylesheet" href="/web-narrow.css" type="text/css" media="screen and (max-width: 1080px)">
		<link rel="stylesheet" href="/web-wide.css" type="text/css" media="screen and (min-width: 1081px)">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<!--TV - REMOTE CONTROL-->
		<script src="/util/keycode.js"></script>
		<script src="/util/keycontroller.js"></script>
		<link rel="stylesheet" href="/util/remoteui.css" type="text/css" media="screen">
		<title>{{serverName}}</title>
	</head>
	<body>
	<a href="/index.html" id="loadingLink">
		<div class="loading"></div>
		<div class="loadingAfter"></div>
		<div id="ButtonContainer">
		<button class="onFocus different btn btn-lg btn-primary" role="button" onclick="location.href = '/index.html';">{{serverName}}</button>
	</div>
	</a>
	
	</body>
	<script>var delay = 3000; setTimeout(function(){ window.location = "/index.html"; }, delay);</script>
</html>
