# UMS Linux/systemd service file
#
# If you want to run UMS at startup:
# (1) check/modify User and ExecStart lines below
# (2) copy this file in /usr/local/lib/systemd/system
# (3) enable at startup with:	systemctl enable ums

[Unit]
Description=Universal Media Server
After=syslog.target network.target rpcbind.service

[Service]
User=pi							# the user you want run UMS with
ExecStart=/opt/ums/UMS.sh		# where you installed UMS

[Install]
WantedBy=multi-user.target

